.benefits {
  padding-top: 130px;
}

.benefits-title {
  max-width: 638px;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 24px;

  & span {
    background-image: var(--green-gradient-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @media screen and (min-width: 744px) {
    font-size: 48px;
  }
}

.benefits-descr {
  max-width: 688px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 38px;

  @media screen and (min-width: 1150px) {
    margin-bottom: 88px;
  }
}

.benefits-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(6, auto);
  gap: 25px;
}

.benefits-item {
  padding: 32px 32px 48px;
  border: 1px solid var(--green-200);
  border-radius: 5px;

  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 744px) and (max-width: 1150px) {
  .benefits-list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
  }

  .benefits-item {
    &.item-1 {
      grid-column: 1 / span 2;
    }
    &.item-2 {
      grid-row: 2;
      grid-column: 1 / span 2;
    }
    &.item-3 {
      grid-row: 3;
      grid-column: 1 / span 1;
    }
    &.item-4 {
      grid-row: 3;
      grid-column: 2 / span 1;
    }
    &.item-5 {
      grid-row: 4;
      grid-column: 1 / span 1;
    }
    &.item-6 {
      grid-row: 4;
      grid-column: 2 / span 1;
    }
  }
}

@media screen and (min-width: 1150px) {
  .benefits-list {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
  }

  .benefits-item {
    padding: 32px 32px 48px;
    border: 1px solid var(--green-200);
    border-radius: 5px;

    &.item-1 {
      grid-column: 1 / span 2;
    }
    &.item-2 {
      grid-column: 3 / span 2;
    }
    &.item-3 {
      grid-row: 2;
      grid-column: 1 / span 1;
    }
    &.item-4 {
      grid-row: 2;
      grid-column: 2 / span 1;
    }
    &.item-5 {
      grid-row: 2;
      grid-column: 3 / span 1;
    }
    &.item-6 {
      grid-row: 2;
      grid-column: 4 / span 1;
    }
  }
}

.benefits-item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border: 1px solid var(--green-200);
  border-radius: 5px;

  margin-bottom: 24px;

  & svg {
    fill: var(--green-100);
  }
}

.benefits-item-title {
  font-size: 20px;
  margin-bottom: 16px;
}
