.hero {
  padding-top: 22px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;

  @media screen and (min-width: 744px) {
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
  }
}

.hero-content {
  max-width: 634px;
  @media screen and (min-width: 744px) and (max-width: 1149px) {
    width: 60%;
  }
}

.hero-img {
  @media screen and (min-width: 744px) and (max-width: 1149px) {
    width: 40%;
  }
}

.hero-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.06;
  letter-spacing: -0.05em;

  margin-bottom: 16px;

  & span {
    background-image: var(--green-gradient-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @media screen and (min-width: 744px) {
    font-size: 44px;
  }

  @media screen and (min-width: 1150px) {
    font-size: 59px;
  }
}

.hero-descr {
  margin-bottom: 50px;
}

.hero-form {
  max-width: 434px;
  width: 100%;
  height: 70px;
  padding: 6px 6px 6px 22px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 22px;

  background-color: var(--light-color);
  border: 1px solid var(--green-200);
  border-radius: 8px;
}

.hero-form-input {
  flex: auto;
  max-width: 100%;

  @media screen and (max-width: 450px) {
    max-width: 110px;
  }
}

.hero-form-btn {
  flex-shrink: 0;

  & span {
    display: none;

    @media screen and (min-width: 744px) {
      display: block;
    }
  }
}
