<div class="header-mobile">
  <button class="header-mobile-close">&#x2715;</button>
  <ul class="header-mobile-list">
    <li class="header-mobile-item">
      <a href="#features" class="header-mobile-link">Features</a>
    </li>
    <li class="header-mobile-item">
      <a href="#pricing" class="header-mobile-link">Pricing</a>
    </li>
    <li class="header-mobile-item">
      <a href="#support" class="header-mobile-link">Support</a>
    </li>
  </ul>
  <button class="button header-mobile-btn">
    Get Started
    <span>
      <svg class="icon-arrow">
        <use href="./img/icons.svg#icon-arrow"></use>
      </svg>
    </span>
  </button>
</div>
