<div class="backdrop reg">
  <div class="reg-container">
    <div class="reg-dialog">
      <button class="reg-dialog-close modal-close">
        <i class="fa-solid fa-xmark"></i>
      </button>
      <h2 class="reg-title">Registration</h2>
      <form class="reg-dialog-form reg-form">
        <div class="reg-form-element">
          <i class="fa-solid fa-user"></i>
          <input
            type="email"
            class="reg-form-input"
            placeholder="Enrer your email"
            required
          />
        </div>
        <div class="reg-form-element">
          <i class="fa-solid fa-key"></i>
          <input
            type="password"
            class="reg-form-input"
            placeholder="Password"
            required
          />
        </div>
        <div class="reg-form-element">
          <i class="fa-solid fa-rotate-right"></i>
          <input
            type="password"
            class="reg-form-input"
            placeholder="Repeat password"
            required
          />
        </div>
        <button class="button reg-form-submit">
          Submit
          <span>
            <svg class="icon-arrow">
              <use href="./img/icons.svg#icon-arrow"></use>
            </svg>
          </span>
        </button>
      </form>
    </div>
  </div>
</div>

<div class="backdrop reg-warning">
  <div class="reg-warning-container">
    <div class="reg-warning-dialog">
      <button class="reg-warning-close">
        <i class="fa-solid fa-xmark"></i>
      </button>
      <p class="reg-warning-text">
        This website is currently in a testing phase, therefore, user
        registration is temporarily disabled. We appreciate your understanding
        and patience.
      </p>
    </div>
  </div>
</div>
