<section class="sign">
  <div class="container sign-container">
    <div class="sign-content">
      <h2 class="sign-title">Unlock the Full Potential of SmartNotes</h2>
      <p class="sign-descr">
        Ready to streamline your workflow and boost your productivity? Start
        your free trial of SmartNotes today and experience the power of smart
        note-taking.
      </p>
      <button class="button sign-btn js-reg-open">
        Sign Up for Free
        <span>
          <svg class="icon-arrow">
            <use href="./img/icons.svg#icon-arrow"></use>
          </svg>
        </span>
      </button>
    </div>
    <img
      srcset="./img/sign.png 1x, ./img/sign-2x.png 2x"
      src="./img/sign.png"
      alt="Sign"
      aria-hidden="true"
      class="sign-img"
    />
  </div>
</section>
