<section class="reviews">
  <div class="container reviews-container">
    <ul class="reviews-list">
      <li class="reviews-item">
        <p class="reviews-text">
          The real-time synchronization and AI-powered organization have made
          our workflow more efficient than ever.
        </p>
        <div class="reviews-author">
          <p class="reviews-author-name">Sarah Johnson</p>
          <p class="reviews-author-position">TechSavvy Solutions</p>
        </div>
        <svg width="37" height="24">
          <use href="./img/icons.svg#icon-quote"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
