<section class="benefits">
  <div class="container benefits-container">
    <h2 class="benefits-title">
      Discover the Power of <span>SmartNotes</span>
    </h2>
    <p class="benefits-descr">
      SmartNotes is packed with innovative features designed to revolutionize
      the way you take notes, collaborate with others, and stay organized.
    </p>
    <ul class="benefits-list">
      <li class="benefits-item item-1">
        <span class="benefits-item-icon">
          <svg width="22" height="20">
            <use href="./img/icons.svg#icon-cross"></use>
          </svg>
        </span>
        <h3 class="benefits-item-title">Cross-Platform Accessibility</h3>
        <p class="benefits-iten-descr">
          Whether you're on your desktop, tablet, or smartphone, SmartNotes is
          accessible across all devices. Work seamlessly on the go and never
          miss a beat.
        </p>
      </li>
      <li class="benefits-item item-2">
        <span class="benefits-item-icon">
          <svg width="20" height="20">
            <use href="./img/icons.svg#icon-customizable"></use>
          </svg>
        </span>
        <h3 class="benefits-item-title">Customizable Templates</h3>
        <p class="benefits-iten-descr">
          Create custom templates for your recurring tasks or projects to save
          time and ensure consistency. Tailor SmartNotes to fit your unique
          workflow and preferences.
        </p>
      </li>
      <li class="benefits-item item-3">
        <span class="benefits-item-icon">
          <svg width="18" height="18">
            <use href="./img/icons.svg#icon-secure"></use>
          </svg>
        </span>
        <h3 class="benefits-item-title">Secure Cloud Storage</h3>
        <p class="benefits-iten-descr">
          Rest easy knowing that your notes are securely stored in the cloud.
          Access your information from any device, anytime, without worrying
          about losing important data.
        </p>
      </li>
      <li class="benefits-item item-4">
        <span class="benefits-item-icon">
          <svg width="23" height="23">
            <use href="./img/icons.svg#icon-real"></use>
          </svg>
        </span>
        <h3 class="benefits-item-title">Real-Time Collaboration</h3>
        <p class="benefits-iten-descr">
          Collaborate seamlessly with your team members or classmates in
          real-time on shared notes and projects.
        </p>
      </li>
      <li class="benefits-item item-5">
        <span class="benefits-item-icon">
          <svg width="18" height="20">
            <use href="./img/icons.svg#icon-ai"></use>
          </svg>
        </span>
        <h3 class="benefits-item-title">AI-Powered Organization</h3>
        <p class="benefits-iten-descr">
          Our AI-powered organization feature categorizes and prioritizes your
          notes, making it easy to find what you need when you need it.
        </p>
      </li>
      <li class="benefits-item item-6">
        <span class="benefits-item-icon">
          <svg width="18" height="18">
            <use href="./img/icons.svg#icon-integrations"></use>
          </svg>
        </span>
        <h3 class="benefits-item-title">Integrations</h3>
        <p class="benefits-iten-descr">
          Connect SmartNotes with your favorite productivity tools like Google
          Drive, Trello, and Slack. Streamline your workflow by syncing data
          across platforms and enhancing collaboration.c
        </p>
      </li>
    </ul>
  </div>
</section>
