<section class="reviews">
  <div class="container reviews-container">
    <div class="reviews-swiper-container swiper">
      <ul class="reviews-list swiper-wrapper">
        <li class="reviews-item swiper-slide">
          <div class="reviews-item-content">
            <p class="reviews-text">
              The real-time synchronization and AI-powered organization have
              made our workflow more efficient than ever.
            </p>
            <div class="reviews-author">
              <p class="reviews-author-name">Sarah Johnson</p>
              <p class="reviews-author-position">TechSavvy Solutions</p>
            </div>
            <svg width="37" height="24">
              <use href="./img/icons.svg#icon-quote"></use>
            </svg>
          </div>
        </li>
        <li class="reviews-item swiper-slide">
          <div class="reviews-item-content">
            <p class="reviews-text">
              The intuitive interface and seamless integration with our existing
              tools have revolutionized our productivity. Highly recommend!
            </p>
            <div class="reviews-author">
              <p class="reviews-author-name">Alex Smith</p>
              <p class="reviews-author-position">TechCrunch Innovations</p>
            </div>
            <svg width="37" height="24">
              <use href="./img/icons.svg#icon-quote"></use>
            </svg>
          </div>
        </li>
        <li class="reviews-item swiper-slide">
          <div class="reviews-item-content">
            <p class="reviews-text">
              The AI-assisted automation has not only saved us time but also
              helped in minimizing errors. A game-changer for our business!
            </p>
            <div class="reviews-author">
              <p class="reviews-author-name">Emma Davis</p>
              <p class="reviews-author-position">DataDriven Enterprises</p>
            </div>
            <svg width="37" height="24">
              <use href="./img/icons.svg#icon-quote"></use>
            </svg>
          </div>
        </li>
        <li class="reviews-item swiper-slide">
          <div class="reviews-item-content">
            <p class="reviews-text">
              The real-time collaboration and synchronization features have made
              teamwork smoother and more enjoyable. A must-have for any modern
              workplace!
            </p>
            <div class="reviews-author">
              <p class="reviews-author-name">Mike Brown</p>
              <p class="reviews-author-position">AgileTech Solutions</p>
            </div>
            <svg width="37" height="24">
              <use href="./img/icons.svg#icon-quote"></use>
            </svg>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
