<section class="plans" id="pricing">
  <div class="container plans-container">
    <h2 class="plans-title">Pricing & Plans</h2>
    <p class="plans-descr">
      With lots of unique blocks, you can easily build a page without coding.
      Build your next landing page.
    </p>
    <div class="plans-version">
      <p class="plans-version-text">Monthly</p>
      <div class="plays-switch-container">
        <input type="checkbox" class="plays-switch" id="switch" />
        <label for="switch" class="plays-slider"></label>
      </div>
      <p class="plans-version-text">
        Yearly
        <span>Save 25%</span>
      </p>
    </div>
    <ul class="plans-list">
      <li class="plans-item">
        <p class="plans-item-tag">
          <span>
            <svg width="19" height="19">
              <use href="./img/icons.svg#icon-plan-i"></use>
            </svg>
          </span>
          Individual Plan
        </p>
        <p class="plans-item-price">
          $9.99
          <span>/ month</span>
        </p>
        <div class="plans-item-descr">
          <p>
            <svg width="17" height="11">
              <use href="./img/icons.svg#icon-list"></use>
            </svg>
            Real-time collaboration
          </p>
          <p>
            <svg width="17" height="11">
              <use href="./img/icons.svg#icon-list"></use>
            </svg>
            AI-powered organization
          </p>
          <p>
            <svg width="17" height="11">
              <use href="./img/icons.svg#icon-list"></use>
            </svg>
            Customizable templates
          </p>
          <p>
            <svg width="17" height="11">
              <use href="./img/icons.svg#icon-list"></use>
            </svg>
            5GB cloud storage
          </p>
          <p>
            <svg width="17" height="11">
              <use href="./img/icons.svg#icon-list"></use>
            </svg>
            Basic integrations
          </p>
        </div>
        <button class="button plans-item-button">
          Start Free Trial
          <span>
            <svg class="icon-arrow">
              <use href="./img/icons.svg#icon-arrow"></use>
            </svg>
          </span>
        </button>
        <p class="plans-item-warning">No credit card required</p>
      </li>
      <li class="plans-item dark">
        <p class="plans-item-tag">
          <span>
            <svg width="18" height="18">
              <use href="./img/icons.svg#icon-plan-t"></use>
            </svg>
          </span>
          Team Plan
        </p>
        <p class="plans-item-price">
          $19.99
          <span>/ month</span>
        </p>
        <div class="plans-item-descr">
          <p>
            <svg width="17" height="11">
              <use href="./img/icons.svg#icon-list"></use>
            </svg>
            Everything in the Individual Plan
          </p>
          <p>
            <svg width="17" height="11">
              <use href="./img/icons.svg#icon-list"></use>
            </svg>
            Unlimited cloud storage
          </p>
          <p>
            <svg width="17" height="11">
              <use href="./img/icons.svg#icon-list"></use>
            </svg>
            Advanced integrations
          </p>
          <p>
            <svg width="17" height="11">
              <use href="./img/icons.svg#icon-list"></use>
            </svg>
            Team management and permissions
          </p>
          <p>
            <svg width="17" height="11">
              <use href="./img/icons.svg#icon-list"></use>
            </svg>
            Shared templates and note libraries
          </p>
        </div>
        <button class="button plans-item-button">
          Start Free Trial
          <span>
            <svg class="icon-arrow">
              <use href="./img/icons.svg#icon-arrow"></use>
            </svg>
          </span>
        </button>
        <p class="plans-item-warning">No credit card required</p>
      </li>
      <li class="plans-item">
        <p class="plans-item-tag">
          <span>
            <svg width="17" height="17">
              <use href="./img/icons.svg#icon-plan-e"></use>
            </svg>
          </span>
          Enterprise Plan
        </p>
        <p class="plans-item-price">
          $29.99
          <span>/ month</span>
        </p>
        <div class="plans-item-descr">
          <p>
            <svg width="17" height="11">
              <use href="./img/icons.svg#icon-list"></use>
            </svg>
            Everything in the Team Plan
          </p>
          <p>
            <svg width="17" height="11">
              <use href="./img/icons.svg#icon-list"></use>
            </svg>
            Dedicated account manager
          </p>
          <p>
            <svg width="17" height="11">
              <use href="./img/icons.svg#icon-list"></use>
            </svg>
            Enterprise-grade security
          </p>
          <p>
            <svg width="17" height="11">
              <use href="./img/icons.svg#icon-list"></use>
            </svg>
            Customized onboarding
          </p>
          <p>
            <svg width="17" height="11">
              <use href="./img/icons.svg#icon-list"></use>
            </svg>
            Advanced analytics
          </p>
        </div>
        <button class="button plans-item-button">
          Start Free Trial
          <span>
            <svg class="icon-arrow">
              <use href="./img/icons.svg#icon-arrow"></use>
            </svg>
          </span>
        </button>
        <p class="plans-item-warning">No credit card required</p>
      </li>
    </ul>
  </div>
</section>
