<section class="hero">
  <div class="container hero-container">
    <div class="hero-content">
      <h1 class="hero-title">
        <span>Intelligent</span> cloud-based <span>note-taking</span> and
        collaboration tool
      </h1>
      <p class="hero-descr">
        Experience the power of smart note-taking and transform the way you work
        today.
      </p>
      <form class="hero-form">
        <input type="email" class="hero-form-input" placeholder="Your email" />
        <button class="button hero-form-btn">
          Sign up
          <span>
            <svg class="icon-arrow">
              <use href="./img/icons.svg#icon-arrow"></use>
            </svg>
          </span>
        </button>
      </form>
    </div>
    <img
      srcset="./img/hero.png 1x, ./img/hero-2x.png 2x"
      src="./img/hero.png"
      alt="Hero image"
      aria-hidden="true"
      class="hero-img"
    />
  </div>
</section>
