<header class="header">
  <div class="container header-container">
    <a href="#" class="header-logo">
      <img
        srcset="./img/logo.png 1x, ./img/logo-2x.png 2x"
        src="./img/logo.png"
        alt="Logotype"
      />
    </a>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a href="#features" class="header-nav-link">Features</a>
        </li>
        <li class="header-nav-item">
          <a href="#pricing" class="header-nav-link">Pricing</a>
        </li>
        <li class="header-nav-item">
          <a href="#support" class="header-nav-link">Support</a>
        </li>
      </ul>
    </nav>
    <button class="button header-btn js-reg-open">
      Get Started
      <span>
        <svg class="icon-arrow">
          <use href="./img/icons.svg#icon-arrow"></use>
        </svg>
      </span>
    </button>
    <button class="header-mobile-open">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
</header>
