<footer class="footer">
  <div class="container footer-container">
    <div class="footer-top">
      <div class="footer-content">
        <a href="#!" class="footer-logo">
          <img
            srcset="./img/logo.png 1x, ./img/logo-2x.png 2x"
            src="./img/logo.png"
            alt="Logotype"
          />
        </a>
        <form class="footer-form">
          <input
            type="email"
            class="footer-form-input"
            placeholder="email@smartnote.io"
            required
          />
          <button class="footer-form-btn">
            <svg class="icon-arrow">
              <use href="./img/icons.svg#icon-arrow"></use>
            </svg>
          </button>
        </form>
      </div>
      <ul class="footer-list">
        <li class="footer-item">
          <h3 class="footer-item-title">Product</h3>
          <ul class="footer-item-list">
            <li class="footer-item-el">
              <a href="#!" class="footer-item-link">About</a>
            </li>
            <li class="footer-item-el">
              <a href="#!" class="footer-item-link">Features</a>
            </li>
            <li class="footer-item-el">
              <a href="#!" class="footer-item-link">Pricing</a>
            </li>
            <li class="footer-item-el">
              <a href="#!" class="footer-item-link">Integrations</a>
            </li>
            <li class="footer-item-el">
              <a href="#!" class="footer-item-link">FAQs</a>
            </li>
          </ul>
        </li>
        <li class="footer-item">
          <h3 class="footer-item-title">Company</h3>
          <ul class="footer-item-list">
            <li class="footer-item-el">
              <a href="#!" class="footer-item-link">Our Story</a>
            </li>
            <li class="footer-item-el">
              <a href="#!" class="footer-item-link">Team</a>
            </li>
            <li class="footer-item-el">
              <a href="#!" class="footer-item-link">Careers</a>
            </li>
            <li class="footer-item-el">
              <a href="#!" class="footer-item-link">Press</a>
            </li>
            <li class="footer-item-el">
              <a href="#!" class="footer-item-link">Contact Us</a>
            </li>
          </ul>
        </li>
        <li class="footer-item">
          <h3 class="footer-item-title">Resources</h3>
          <ul class="footer-item-list">
            <li class="footer-item-el">
              <a href="#!" class="footer-item-link">Blog</a>
            </li>
            <li class="footer-item-el">
              <a href="#!" class="footer-item-link">Webinars</a>
            </li>
            <li class="footer-item-el">
              <a href="#!" class="footer-item-link">Case Studies</a>
            </li>
            <li class="footer-item-el">
              <a href="#!" class="footer-item-link">Templates</a>
            </li>
            <li class="footer-item-el">
              <a href="#!" class="footer-item-link">Help Center</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container footer-bottom-container">
      <p class="footer-rights">
        @2024 SmartNotesI. All Rights Reserved.
        <a href="#!">@iamhervewabo</a>
      </p>
      <ul class="footer-social">
        <li class="footer-social-item">
          <a href="#!" class="footer-social-link">
            <svg>
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a href="#!" class="footer-social-link">
            <svg>
              <use href="./img/icons.svg#icon-linkedin"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a href="#!" class="footer-social-link">
            <svg>
              <use href="./img/icons.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a href="#!" class="footer-social-link">
            <svg>
              <use href="./img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
